@using MvcFlashMessages
@model List<YumSale.Models.BuyHoldViewModel>

@Html.RenderFlash()

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Item</h4>
    <hr/>
    @foreach (var item in Model)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <dl class="dl-horizontal">


                <dd>
                    @{
                        try

                        {
                            if (item.ImageUrl != null)
                            {
                                var webRequest = WebRequest.Create(item.ImageUrl);
                                var webResponse = webRequest.GetResponse();
                                <img src=@item.ImageUrl alt="Item Image" width="300"/>
                            }
                        }
                        catch (WebException ex)
                        {
                        }
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(modelItem => item.Name)
                </dt>

                <dd>
                @Html.DisplayFor(modelItem => item.Name)
                <dt>

                    @Html.DisplayNameFor(modelItem => item.Descrption)
                </dt>

                <dd>
                    @Html.DisplayFor(modelItem => item.Descrption)
                </dd>

                <dt>
                    Maximum Time Before You Pick Up
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => item.HoldLongDay) days @Html.DisplayFor(modelItem => item.HoldLongLessThanDay.Hours) hours
                </dd>
                <td>
                    @Html.RouteLink("Looks good", "DetailWithUserId",
                        new RouteValueDictionary(new {controller = "Buy", action = "Details", ViewBag.userId, itemId = item.ItemId}))
                </td>

            </dl>
        }
    }

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}